@import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500");
/* function and mixin */
/* css animation */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@keyframes dash {
  to {
    stroke-dashoffset: -1000; } }
@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }
@keyframes blinker {
  50% {
    opacity: 1; }
  75% {
    opacity: .4; }
  85% {
    opacity: 1; } }
@keyframes animatedBG {
  from {
    background-position: 0 100%; }
  to {
    background-position: 0 0; } }
/* color set */
/* setting */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none; }

html {
  height: 100%;
  font-family: "Maven Pro", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

body {
  height: 100%;
  min-height: 100%;
  background: #F0F2FA;
  color: #54607d;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default; }
  body.page-third {
    display: table;
    width: 100%;
    height: 100%; }
  body a, body a:after, body button, body input, body select {
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease; }
  body a {
    color: #2b3140;
    font-weight: 400;
    text-decoration: none; }
    body a .fa {
      color: #d4d7df;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -ms-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
    body a:hover {
      text-decoration: underline; }
      body a:hover .fa {
        color: #54607d; }
  body strong {
    font-weight: 500; }
  body form {
    margin: 0; }
  body button {
    outline: none; }
  body code {
    font-weight: 400;
    font-family: "SF Mono Regular", "Consolas", "Monaco", "Andale Mono", courier; }
  body li {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

div.page-third {
  display: table-cell;
  background: #2657EB;
  background: -webkit-linear-gradient(to right, #2657EB, #C858E2);
  background: linear-gradient(to right, #2657EB, #C858E2);
  vertical-align: middle;
  text-align: center; }
  div.page-third > footer {
    z-index: 1;
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32px;
    width: 100%;
    background: rgba(0, 0, 0, 0.15);
    font-size: 12px;
    line-height: 48px;
    text-align: left; }
    div.page-third > footer > a {
      margin-right: 16px;
      color: rgba(255, 255, 255, 0.4); }
    div.page-third > footer h6 {
      float: right;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 500;
      font-size: 13px; }
      div.page-third > footer h6 a {
        color: #FFF;
        font-weight: 500; }
    div.page-third > footer a:hover {
      color: #FFF;
      text-decoration: none; }

.pane {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 380px;
  background: #FFF;
  border-radius: 9px;
  box-shadow: 0 4px 18px #55617e;
  overflow: hidden; }
  .pane .pane-header {
    padding: 64px 0 32px; }
    .pane .pane-header h1 {
      margin: 0; }
      .pane .pane-header h1 img {
        width: 120px; }
  .pane .container {
    padding: 0 40px 40px; }
  .pane .pane-footer {
    padding-bottom: 2px;
    border-top: 1px solid #ebedf5;
    background: #f8f9fd;
    font-size: 14px;
    line-height: 48px; }
    .pane .pane-footer a {
      color: #2b3140;
      font-weight: 500; }

.app-wrap {
  min-width: 1280px;
  min-height: 100%; }

.app-header {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 90px;
  height: 100%;
  background: #2b3140;
  text-align: center;
  box-shadow: 1px 0 24px rgba(0, 0, 0, 0.15); }
  .app-header:before, .app-header:after {
    content: " ";
    display: table; }
  .app-header:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden; }
  .app-header {
    *zoom: 1; }
  .app-header h1 {
    padding: 24px 0; }
    .app-header h1 img {
      margin: 0 auto;
      width: 48px; }
  .app-header nav {
    clear: both;
    font-size: 11px; }
    .app-header nav a {
      display: block;
      padding: 24px 0;
      color: #8e98af;
      font-weight: 500; }
      .app-header nav a .fa {
        display: block;
        margin-bottom: 8px;
        color: #8e98af;
        font-size: 24px; }
      .app-header nav a:hover {
        color: #FFF;
        text-decoration: none; }
        .app-header nav a:hover .fa {
          color: #FFF; }
    .app-header nav li {
      margin: 0; }
      .app-header nav li.is-current {
        position: relative; }
        .app-header nav li.is-current a {
          background: #1a1e27;
          color: #FFF;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15); }
          .app-header nav li.is-current a .fa {
            color: #FFF; }
        .app-header nav li.is-current a:after {
          content: "";
          position: absolute;
          right: -7px;
          top: 0;
          width: 7px;
          height: 100%;
          background: #2657EB;
          background: -webkit-linear-gradient(#2657EB, #C858E2);
          background: linear-gradient(#2657EB, #C858E2);
          border-radius: 0 3px 3px 0;
          box-shadow: inset 0 0 1px #775ba7, -1px 0 12px rgba(38, 87, 235, 0.75); }
    .app-header nav .snb {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left; }
      .app-header nav .snb a {
        padding: 0 0 0 18px;
        border-top: 1px solid #2f3646;
        background: #272c3a;
        line-height: 44px; }
        .app-header nav .snb a:hover {
          background: #1e232d; }
      .app-header nav .snb .fa {
        display: inline-block;
        margin-right: 8px;
        font-size: 12px; }

.app-topper {
  z-index: 5;
  position: fixed;
  box-sizing: border-box;
  padding-left: 90px;
  width: 100%;
  height: 54px;
  background: #FFF;
  line-height: 52px;
  box-shadow: 0 1px 24px #d8dae1; }
  .app-topper .search-box {
    position: relative;
    padding-left: 18px;
    max-width: 320px; }
  .app-topper .account-box {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right; }
    .app-topper .account-box .account-name {
      float: right;
      padding: 0 12px 2px 24px;
      line-height: 52px;
      overflow: hidden; }
      .app-topper .account-box .account-name img {
        margin-right: 12px;
        width: 36px;
        border-radius: 50%;
        vertical-align: middle;
        overflow: hidden; }
      .app-topper .account-box .account-name:hover {
        text-decoration: none;
        background: #f8f9fd; }
        .app-topper .account-box .account-name:hover .fa-caret-down {
          color: #5E6C8C;
          opacity: .5; }
    .app-topper .account-box .account-nav {
      display: none;
      z-index: 1;
      position: fixed;
      right: 12px;
      top: 66px;
      width: 240px;
      background: #FFF;
      text-align: left;
      border-radius: 9px;
      box-shadow: 0 1px 24px rgba(94, 108, 140, 0.25);
      overflow: hidden; }
      .app-topper .account-box .account-nav .account-info {
        padding-bottom: 24px;
        line-height: 24px;
        text-align: center; }
        .app-topper .account-box .account-nav .account-info img {
          display: block;
          margin: 32px auto 12px;
          width: 60px;
          border-radius: 50%; }
        .app-topper .account-box .account-nav .account-info strong {
          display: block;
          color: #2b3140;
          font-size: 14px; }
        .app-topper .account-box .account-nav .account-info em {
          display: block;
          color: #76829d;
          font-style: normal;
          font-size: 12px; }
      .app-topper .account-box .account-nav a {
        position: relative;
        display: block;
        padding-left: 48px;
        height: 44px;
        border-top: 1px solid #f1f3fa;
        line-height: 42px; }
        .app-topper .account-box .account-nav a .fa {
          position: absolute;
          left: 20px;
          top: 50%;
          margin-top: -8px;
          margin-right: 12px;
          color: #d4d7df; }
        .app-topper .account-box .account-nav a:hover {
          text-decoration: none;
          background: #f8f9fd; }
          .app-topper .account-box .account-nav a:hover .fa {
            color: #54607d; }

.app-container {
  position: relative;
  box-sizing: border-box;
  margin-left: 90px;
  padding: 54px 0 64px;
  max-width: 100%;
  height: 100%;
  overflow: hidden; }

.project-box {
  float: left;
  width: 60%;
  overflow: hidden; }
  .project-box.is-hide {
    width: 0; }

.project-item {
  float: left;
  width: 50%;
  text-align: left; }
  .project-item .project-inner {
    margin: 18px 0 0 18px;
    background: #FFF;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba(94, 108, 140, 0.15); }
  .project-item .project-header {
    position: relative;
    padding: 14px 18px;
    line-height: 21px; }
    .project-item .project-header .btn-project-qsetting {
      position: absolute;
      right: 0;
      top: 0; }
    .project-item .project-header a {
      display: block;
      padding-left: 24px;
      color: #2b3140;
      font-size: 14px;
      /* long text lendering ... */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .project-item .project-header a .fa-github {
        position: absolute;
        left: 18px;
        top: 16px;
        width: 20px;
        font-size: 18px; }
    .project-item .project-header ul {
      margin: 0 0 0 24px;
      font-size: 12px; }
      .project-item .project-header ul li {
        display: inline; }
      .project-item .project-header ul strong {
        color: #5E6C8C; }
  .project-item .project-status {
    position: relative;
    height: 120px;
    line-height: 120px;
    text-align: center;
    overflow: hidden;
    border-radius: 0 0 8px 8px; }
    .project-item .project-status.status-pass {
      background: #2657EB url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100" viewBox="0 0 479 102">\a         <g fill="none" fill-rule="evenodd" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" opacity=".2">\a           <path d="M0,50 84 50 94 20 114 90 134 0 154 100 174 10 194 80 204 50 317 50 328 20 348 90 368 0 388 100 408 10 428 80 438 50 551 50"/>\a         </g>\a       </svg>') no-repeat center;
      background-size: 100% 100px; }
    .project-item .project-status.status-fail {
      background: #C858E2 url("../img/status-fail.svg") repeat-x center; }
      .project-item .project-status.status-fail .status-alert {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: #C858E2 url("../img/i-error.svg") no-repeat center;
        background-size: 8%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); }
    .project-item .project-status.status-pause {
      background: #5E6C8C url("../img/status-pause.svg") repeat-x center; }
      .project-item .project-status.status-pause .status-alert {
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -36px 0 0 -36px;
        width: 72px;
        height: 72px;
        background: #5E6C8C url("../img/i-pause.svg") no-repeat center;
        background-size: 20%;
        text-indent: -9999px;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); }
    .project-item .project-status svg {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -50px; }

.timeline-box {
  float: right;
  width: 40%;
  overflow: hidden; }
  .timeline-box.is-fullscreen {
    width: 100%; }
  .timeline-box .timeline-inner {
    margin: 18px;
    background: #FFF;
    border-radius: 9px;
    box-shadow: 0 0 24px rgba(94, 108, 140, 0.15); }
  .timeline-box .timeline-header {
    position: relative;
    border-radius: 8px; }
    .timeline-box .timeline-header h4 {
      text-transform: uppercase;
      margin: 0;
      color: #5E6C8C;
      font-weight: 500;
      font-size: 13px;
      line-height: 40px;
      text-align: center; }
    .timeline-box .timeline-header .btn-fullscreen {
      position: absolute;
      left: 0;
      top: 0;
      width: 40px;
      line-height: 40px; }
    .timeline-box .timeline-header .btn-setting {
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
      line-height: 40px; }
  .timeline-box .timeline-log {
    background: #4a546d;
    color: white;
    font-weight: 400;
    font-family: "SF Mono Regular", "Consolas", "Monaco", "Andale Mono", courier;
    font-size: 13px;
    line-height: 21px;
    border-radius: 0 0 8px 8px; }
    .timeline-box .timeline-log ul {
      margin: 0; }
    .timeline-box .timeline-log li {
      position: relative;
      margin: 0;
      padding: 12px 16px 12px 80px; }
      .timeline-box .timeline-log li:nth-child(odd) {
        background: #3f495e; }
      .timeline-box .timeline-log li:last-child {
        border-radius: 0 0 8px 8px; }
      .timeline-box .timeline-log li .log-status {
        position: absolute;
        left: 16px;
        top: 12px;
        color: #8691a9;
        text-transform: uppercase;
        font-weight: 600;
        white-space: nowrap;
        overflow: hidden; }
      .timeline-box .timeline-log li .log-name {
        display: block;
        color: #FFF;
        font-weight: 600;
        /* long text lendering ... */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .timeline-box .timeline-log li .log-desc {
        display: block;
        color: rgba(255, 255, 255, 0.75);
        /* long text lendering ... */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .timeline-box .timeline-log li.status-fail {
        background: #C858E2;
        box-shadow: 0 0 24px rgba(200, 88, 226, 0.75); }
        .timeline-box .timeline-log li.status-fail .log-status {
          color: #FFF; }
      .timeline-box .timeline-log li.status-ing .log-status {
        animation: typing 3.5s infinite;
        color: #FFF; }

.app-footer {
  position: relative;
  box-sizing: border-box;
  padding: 0 24px 0 114px;
  width: 100%;
  height: 44px;
  border-top: 1px solid #e4e6ee;
  background: #FFF;
  font-size: 11px;
  line-height: 44px; }
  .app-footer a {
    color: #8e98af; }
    .app-footer a ~ a {
      margin-left: 16px; }
    .app-footer a:hover {
      color: #5E6C8C; }
  .app-footer .copyright {
    float: right;
    margin: 0;
    font-weight: 300;
    font-size: 12px;
    line-height: 44px;
    text-align: right; }
    .app-footer .copyright a {
      color: #5E6C8C;
      font-weight: 500; }
  .app-footer.fixed {
    position: fixed;
    left: 0;
    bottom: 0; }

.blind {
  z-index: 4;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(94, 108, 140, 0.75); }

.layer {
  z-index: 5;
  position: fixed;
  background: #FFF;
  border-radius: 9px;
  box-shadow: 0 0 24px rgba(94, 108, 140, 0.5); }
  .layer .layer-header h4 {
    padding: 2px 24px 0;
    border-bottom: 1px solid #dddfe6;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px; }
  .layer .layer-content {
    max-height: 540px;
    background-color: #F0F2FA;
    background-image: -moz-linear-gradient(#F0F2FA, #f2f3fb);
    background-image: -webkit-linear-gradient(#F0F2FA, #f2f3fb);
    background-image: -o-linear-gradient(#F0F2FA, #f2f3fb);
    background-image: inear-gradient(#F0F2FA, #f2f3fb);
    padding: 24px;
    overflow-y: auto; }
  .layer .welcome {
    display: block;
    padding: 24px 0;
    color: #5E6C8C;
    text-align: center; }
    .layer .welcome img {
      margin: 32px auto 0;
      display: block;
      width: 80px;
      border-radius: 50%; }
    .layer .welcome .account-name {
      display: block;
      padding: 12px 0;
      color: #5E6C8C;
      font-size: 15px; }
      .layer .welcome .account-name .fa {
        margin-right: 6px; }
    .layer .welcome strong {
      display: block;
      padding: 0 0 8px;
      color: #5E6C8C;
      font-weight: 300;
      font-size: 24px; }
    .layer .welcome p {
      color: #97a1b9;
      font-size: 15px;
      line-height: 21px; }
  .layer .layer-footer {
    padding: 0 24px 2px;
    border-top: 1px solid #e4e6ee;
    line-height: 44px;
    text-align: right; }
  .layer.layer-welcome {
    left: 50%;
    top: 120px;
    margin-left: -240px;
    width: 480px; }

.organize-box {
  float: left;
  box-sizing: border-box;
  width: 25%; }
  .organize-box .organize-inner {
    padding: 18px 0 0 18px; }
  .organize-box li {
    position: relative;
    margin: 28px 0 40px;
    padding: 16px;
    border: 1px solid #F0F2FA;
    border-bottom-color: #cad1ed;
    background: #FFF;
    border-radius: 0 9px 9px;
    box-shadow: 0 0 12px rgba(94, 108, 140, 0.15);
    cursor: pointer;
    opacity: .6; }
    .organize-box li .label {
      position: absolute;
      left: 0;
      top: -28px;
      padding: 0 12px;
      height: 28px;
      background: #5E6C8C;
      color: #FFF;
      font-weight: 600;
      font-size: 12px;
      line-height: 30px;
      border-radius: 3px 3px 0 0;
      overflow: hidden; }
      .organize-box li .label .fa {
        margin-right: 6px;
        font-size: 14px; }
    .organize-box li img {
      margin-right: 12px;
      vertical-align: middle;
      border-radius: 50%; }
    .organize-box li strong {
      color: #5E6C8C;
      font-weight: 400; }
    .organize-box li.is-select {
      opacity: 1; }
      .organize-box li.is-select .label {
        background: #9E79DF; }

.repository-box {
  float: left;
  box-sizing: border-box;
  width: 75%;
  padding: 18px; }

.repository-list {
  margin-top: 12px;
  border: 1px solid #e4e6ee;
  border-bottom: none;
  border-radius: 9px;
  box-shadow: 0 1px 12px rgba(94, 108, 140, 0.15);
  overflow: hidden; }
  .repository-list li {
    position: relative;
    border-bottom: 1px solid #e4e6ee;
    background: #FFF; }
    .repository-list li:hover {
      background: #f8f9fd; }
    .repository-list li a {
      display: inline-block;
      padding: 16px 20px;
      color: #5E6C8C; }
      .repository-list li a strong {
        font-weight: 500; }
      .repository-list li a .fa {
        margin-left: 6px; }
      .repository-list li a:hover {
        color: #2b3140;
        text-decoration: none; }
        .repository-list li a:hover strong {
          text-decoration: underline; }
    .repository-list li .btn {
      position: absolute;
      right: 18px;
      top: 50%;
      margin: -16px 0 0;
      width: 140px; }

.aside-box {
  float: left;
  box-sizing: border-box;
  padding-left: 18px;
  width: 30%; }

.status-svg {
  stroke-dasharray: 750;
  stroke-dashoffset: 1500;
  animation: draw 5s ease-in infinite; }

.container {
  max-width: inherit; }

.layer,
.status-fail,
.project-box,
.project-item,
.project-inner,
.timeline-box {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.wow {
  visibility: hidden; }

.page-landing {
  background: #2657EB;
  background: -webkit-linear-gradient(to right, #2657EB, #C858E2);
  background: linear-gradient(to right, #2657EB, #C858E2);
  background-attachment: fixed;
  text-align: center; }
  .page-landing .container {
    position: relative;
    margin: 0 auto;
    max-width: 880px; }

.page-gnb {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #2657EB;
  background: -webkit-linear-gradient(to right, #2657EB, #C858E2);
  background: linear-gradient(to right, #2657EB, #C858E2);
  background-attachment: fixed; }
  .page-gnb .container {
    padding: 36px 0 12px;
    height: 54px;
    line-height: 32px; }
  .page-gnb h1 {
    float: left;
    margin: 0; }
    .page-gnb h1 img {
      height: 24px;
      vertical-align: middle; }
  .page-gnb nav {
    float: right; }
  .page-gnb li {
    float: left;
    padding: 0 24px; }
    .page-gnb li a {
      position: relative;
      display: inline-block;
      border-bottom: 0 solid transparent;
      color: rgba(255, 255, 255, 0.4);
      font-weight: 500;
      font-size: 14px; }
      .page-gnb li a:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 0;
        height: 4px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 2px; }
    .page-gnb li a:hover, .page-gnb li.is-current a {
      color: #FFF;
      text-decoration: none; }
      .page-gnb li a:hover:after, .page-gnb li.is-current a:after {
        width: 100%; }
    .page-gnb li:last-child {
      padding-right: 0; }
      .page-gnb li:last-child a {
        padding: 0 16px 2px;
        border: 2px solid rgba(255, 255, 255, 0.4);
        background: rgba(0, 0, 0, 0.15);
        color: #FFF;
        font-weight: 600;
        font-size: 13px;
        border-radius: 18px; }
        .page-gnb li:last-child a .fa {
          padding-right: 6px;
          color: rgba(255, 255, 255, 0.4); }
        .page-gnb li:last-child a:after {
          display: none; }
        .page-gnb li:last-child a:hover {
          border-color: #FFF;
          background: #FFF;
          color: #2b3140;
          box-shadow: 0 1px 48px rgba(255, 255, 255, 0.4); }
          .page-gnb li:last-child a:hover .fa {
            color: #d4d7df; }

section {
  position: relative;
  padding: 240px 0 60px;
  min-height: 240px;
  overflow: hidden; }
  section:before, section:after {
    content: " ";
    display: table; }
  section:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden; }
  section {
    *zoom: 1; }
  section:nth-of-type(2):before {
    content: "";
    position: absolute;
    left: 50%;
    top: -60px;
    width: 10px;
    height: 240px;
    background: url("../img/dash.svg") no-repeat left top;
    animation: animatedBG 20s linear infinite; }

.svg-dash {
  stroke-dasharray: 10;
  animation: dash 20s linear infinite; }

.page-landing-copy {
  box-sizing: border-box;
  float: left;
  padding-left: 32px;
  width: 50%;
  line-height: 1.5;
  font-family: 'Roboto Slab', serif;
  text-align: left; }
  .page-landing-copy em {
    display: block;
    margin: 24px 2px 16px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: normal;
    color: rgba(255, 255, 255, 0.4);
    font-size: 13px;
    letter-spacing: 1px; }
  .page-landing-copy span {
    display: block;
    color: #FFF;
    font-weight: 300;
    font-size: 26px;
    white-space: nowrap; }
    .page-landing-copy span strong {
      position: relative;
      display: inline-block; }
      .page-landing-copy span strong:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 1px; }
  .page-landing-copy a {
    position: relative;
    display: inline-block;
    margin-top: 25px;
    padding: 0 36px 2px;
    background: #FFF;
    color: #2b3140;
    font-weight: 500;
    font-size: 16px;
    line-height: 46px;
    border-radius: 24px;
    box-shadow: 0 1px 24px rgba(255, 255, 255, 0.4); }
    .page-landing-copy a .fa {
      position: absolute;
      top: 50%;
      right: 18px;
      margin-top: -7px;
      color: #d4d7df;
      font-size: 14px; }
    .page-landing-copy a:hover {
      text-decoration: none;
      margin-top: 24px;
      background: rgba(255, 255, 255, 0.4);
      color: #FFF;
      box-shadow: 0 1px 48px rgba(255, 255, 255, 0.4); }
      .page-landing-copy a:hover .fa {
        color: #FFF; }

.landing-before {
  position: relative;
  left: 50%;
  margin-left: -180px;
  width: 360px;
  height: 240px;
  background: #FFF;
  border-radius: 6px;
  overflow: hidden; }
  .landing-before-head {
    position: relative;
    border-bottom: 1px solid #d4d7df;
    color: #5E6C8C;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px; }
    .landing-before-head:before, .landing-before-head:after {
      content: "";
      position: absolute;
      left: 8px;
      top: 6px;
      width: 10px;
      height: 10px;
      border: 1px solid #c9ccd4;
      background: #d4d7df;
      border-radius: 6px; }
    .landing-before-head:after {
      left: 25px; }
  .landing-before svg path {
    opacity: 0;
    animation: codepreload 3.75s linear infinite; }
    .landing-before svg path:nth-child(1) {
      animation-delay: 0s; }
    .landing-before svg path:nth-child(2) {
      animation-delay: 0.25s; }
    .landing-before svg path:nth-child(3) {
      animation-delay: 0.5s; }
    .landing-before svg path:nth-child(4) {
      animation-delay: 0.75s; }
    .landing-before svg path:nth-child(5) {
      animation-delay: 1s; }
    .landing-before svg path:nth-child(6) {
      animation-delay: 1.25s; }
    .landing-before svg path:nth-child(7) {
      animation-delay: 1.5s; }
    .landing-before svg path:nth-child(8) {
      animation-delay: 1.75s; }
    .landing-before svg path:nth-child(9) {
      animation-delay: 2s; }
    .landing-before svg path:nth-child(10) {
      animation-delay: 2.25s; }
    .landing-before svg path:nth-child(11) {
      animation-delay: 2.5s; }
    .landing-before svg path:nth-child(12) {
      animation-delay: 2.75s; }
    .landing-before svg path:nth-child(13) {
      animation-delay: 3s; }
    .landing-before svg path:nth-child(14) {
      animation-delay: 3.25s; }
    .landing-before svg path:nth-child(15) {
      animation-delay: 3.5s; }
  .landing-before-error {
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -36px 0 0 -36px;
    width: 72px;
    height: 72px;
    background: #C858E2 url("../img/i-error.svg") no-repeat center;
    background-size: 8%;
    text-indent: -9999px;
    border-radius: 50%;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.25); }

.page-landing-visual {
  box-sizing: border-box;
  position: relative;
  float: left;
  width: 50%;
  min-height: 100px; }
  .page-landing-visual .project-item {
    float: none;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -180px;
    width: 340px;
    opacity: .5 !important; }
    .page-landing-visual .project-item:first-child {
      z-index: 5;
      margin-top: 35px;
      margin-left: -150px;
      opacity: 1 !important; }
  .page-landing-visual:hover .project-item:first-child .project-inner {
    margin-top: 0;
    box-shadow: 0 0 72px rgba(255, 255, 255, 0.4); }
  .page-landing-visual:hover .project-item:last-child .project-inner {
    margin-top: 60px; }

.page footer {
  position: relative;
  box-sizing: border-box;
  margin-top: 180px;
  padding: 0 32px;
  width: 100%;
  background: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  line-height: 48px;
  text-align: left; }
  .page footer > a {
    margin-right: 16px;
    color: rgba(255, 255, 255, 0.4); }
  .page footer h6 {
    float: right;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 500;
    font-size: 13px; }
    .page footer h6 a {
      color: #FFF;
      font-weight: 500; }
  .page footer a:hover {
    color: #FFF;
    text-decoration: none; }

.page-before .page-landing-visual {
  float: right; }

@keyframes codepreload {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; } }
.projectlist-box {
  margin-top: 12px;
  background: #FFF;
  border-radius: 9px 0 0 9px;
  box-shadow: 0 0 24px rgba(94, 108, 140, 0.15);
  overflow: hidden; }
  .projectlist-box .projectlist-item {
    position: relative;
    padding: 14px 18px;
    border-bottom: 1px solid #F0F2FA;
    line-height: 22px;
    cursor: pointer; }
    .projectlist-box .projectlist-item .btn-project-qsetting {
      position: absolute;
      right: 0;
      top: 0; }
    .projectlist-box .projectlist-item strong {
      display: block;
      padding: 0 28px;
      color: #5E6C8C;
      font-size: 14px;
      /* long text lendering ... */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .projectlist-box .projectlist-item .fa-github {
      position: absolute;
      left: 18px;
      top: 16px;
      width: 20px;
      font-size: 20px; }
    .projectlist-box .projectlist-item > span {
      display: inline-block;
      color: #5E6C8C;
      font-size: 12px;
      vertical-align: middle; }
      .projectlist-box .projectlist-item > span.branch-label {
        padding: 0 6px 1px;
        background: #F0F2FA;
        border-radius: 3px; }
      .projectlist-box .projectlist-item > span.commit-count {
        font-weight: 400;
        font-family: "SF Mono Regular", "Consolas", "Monaco", "Andale Mono", courier; }
      .projectlist-box .projectlist-item > span:first-of-type {
        margin-left: 28px; }
      .projectlist-box .projectlist-item > span ~ span {
        margin-left: 6px; }
    .projectlist-box .projectlist-item:hover, .projectlist-box .projectlist-item.is-current {
      background: #f8f9fd;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
      .projectlist-box .projectlist-item:hover strong, .projectlist-box .projectlist-item.is-current strong {
        text-decoration: underline;
        color: #2b3140; }
    .projectlist-box .projectlist-item.is-current {
      position: relative; }
      .projectlist-box .projectlist-item.is-current:after {
        z-index: 1;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 7px;
        height: 100%;
        background: #2657EB;
        background: -webkit-linear-gradient(#2657EB, #C858E2);
        background: linear-gradient(#2657EB, #C858E2);
        box-shadow: inset 0 0 1px #775ba7, -1px 0 12px rgba(158, 121, 223, 0.75); }

.aside-header,
.bside-header {
  margin-top: 18px;
  overflow: hidden; }
  .aside-header h3,
  .bside-header h3 {
    float: left;
    line-height: 32px; }
    .aside-header h3 .fa,
    .bside-header h3 .fa {
      margin-right: 4px;
      color: #5E6C8C; }

.aside-header {
  padding-right: 18px; }

.bside-header {
  padding-left: 18px; }
  .bside-header select {
    float: right; }

.build-box {
  float: left;
  box-sizing: border-box;
  padding-right: 18px;
  width: 70%; }

.build-list {
  margin-top: 12px;
  background: #FFF;
  border-radius: 0 9px 9px 9px;
  box-shadow: 0 0 24px rgba(94, 108, 140, 0.15); }
  .build-list .build-item {
    position: relative;
    padding: 14px 100px 14px 60px;
    height: 46px;
    border-bottom: 1px solid #F0F2FA;
    line-height: 22px;
    cursor: pointer; }
    .build-list .build-item a {
      display: block;
      padding-left: 12px;
      color: #5E6C8C;
      font-weight: 500;
      font-size: 14px;
      /* long text lendering ... */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .build-list .build-item a:hover {
        color: #2b3140; }
    .build-list .build-item .build-author {
      padding-left: 12px; }
      .build-list .build-item .build-author img {
        margin-right: 4px;
        width: 18px;
        border-radius: 50%;
        vertical-align: middle; }
      .build-list .build-item .build-author code {
        color: #8691a9; }
    .build-list .build-item .build-time {
      position: absolute;
      right: 0;
      top: 0;
      padding: 14px 32px 0 0;
      font-size: 12px;
      text-align: right; }
      .build-list .build-item .build-time span {
        display: block; }
      .build-list .build-item .build-time .fa {
        color: #d4d7df; }
    .build-list .build-item:hover {
      background: #f8f9fd; }
    .build-list .build-item:after {
      content: "";
      position: absolute;
      right: 8px;
      top: 8px;
      width: 7px;
      height: 58px;
      border-radius: 3px; }
    .build-list .build-item.is-pass:after {
      background: #2657EB; }
    .build-list .build-item.is-fail:after {
      background: #C858E2; }
    .build-list .build-item.is-pause:after {
      background: #5E6C8C; }

.label-status-pass,
.label-status-fail,
.label-status-pause {
  position: absolute;
  left: 18px;
  top: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%; }
  .label-status-pass svg,
  .label-status-fail svg,
  .label-status-pause svg {
    stroke-dasharray: 100;
    stroke-dashoffset: 1000; }

.label-status-pass {
  background: #2657EB url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 40 40"><g fill="none" stroke-width="2" stroke="rgba(255,255,255,.4)"><path d="M1 20 9 20 10.8025751 14.6 14.4077253 27.2 18.0128755 11 21.6180258 29 25.223176 12.8 28.8283262 25.4 30.6309013 20 39 20"></path></g></svg>') center no-repeat; }
  .label-status-pass svg {
    animation: draw 15s ease-in infinite; }

.label-status-fail {
  background: #C858E2; }

.label-status-pause {
  background: #5E6C8C; }
  .label-status-pause svg {
    opacity: .4;
    stroke-dasharray: 4;
    animation: dash 180s linear infinite; }

select {
  -webkit-appearance: none;
  /* hidden native design */
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  padding: 0 28px 1px 12px;
  height: 32px;
  border: 1px solid #cad1ed;
  background: #FFF url('data:image/svg+xml;utf8,<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg"><path id="Rectangle" fill="#A6AFC3" d="M18 13 15 16 12 13"></path></svg>') center right no-repeat;
  color: #5E6C8C;
  font-size: 12px;
  line-height: 30px;
  border-radius: 4px;
  outline: none;
  /* IE 10, 11 hidden native arrow */ }
  select:hover, select:focus {
    border-color: #a4b0e1;
    color: #2b3140;
    box-shadow: 0 1px 3px rgba(94, 108, 140, 0.1); }
  select::ms-expand {
    display: none; }
  select.clean {
    border: 0;
    background-color: transparent; }
  select ~ select {
    margin-right: 4px; }

.btn {
  /* button */
  margin: 2px;
  padding: 0 8px;
  height: 32px;
  background: #9673d4;
  color: #FFF;
  font-weight: 600;
  font-size: 12px;
  line-height: 32px;
  border-radius: 4px;
  text-shadow: 0 1px #8e6dc9;
  box-shadow: inset 0 -1px rgba(43, 49, 64, 0.1), 0 1px 2px rgba(43, 49, 64, 0.12);
  outline: none; }
  .btn:enabled:hover {
    z-index: 1;
    background: #9E79DF; }
  .btn:enabled:active {
    background: #8e6dc9;
    text-shadow: 0 -1px #8667be; }
  .btn .fa {
    margin-right: 8px;
    font-size: 10px; }
  .btn.block {
    /* block button */
    position: relative;
    display: block;
    margin: 8px auto;
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 46px;
    border-radius: 4px; }
    .btn.block .fa {
      position: absolute;
      left: 16px;
      top: 50%;
      margin-top: -10px;
      font-size: 20px; }
    .btn.block .fa-caret-right {
      left: inherit;
      right: 12px;
      margin-top: -6px;
      font-size: 12px; }
  .btn:disabled {
    background: #909fda;
    text-shadow: 0 -1px #7181bf;
    opacity: 0.4;
    cursor: not-allowed; }
  .btn-clear {
    /* solid line button */
    padding: 0 12px;
    height: 32px;
    border: 2px solid #9E79DF;
    background: #FFF;
    line-height: 30px;
    border-radius: 3px; }
  .btn-text {
    /* text link style button */
    background: transparent;
    color: #5E6C8C;
    font-size: 13px; }
    .btn-text:hover, .btn-text:active {
      color: #5E6C8C;
      text-decoration: underline; }
    .btn-text .fa {
      margin: 0 6px; }
  .btn.btn-red {
    background: #C858E2;
    text-shadow: 0 1px #b44fcb; }
    .btn.btn-red:enabled:hover {
      z-index: 1;
      background: #d172e7; }
    .btn.btn-red:enabled:active {
      background: #ba2dda;
      text-shadow: 0 -1px #aa4bc0; }
  .btn.btn-blue {
    background: #2657EB;
    text-shadow: 0 1px #224ed4; }
    .btn.btn-blue:enabled:hover {
      z-index: 1;
      background: #426dee; }
    .btn.btn-blue:enabled:active {
      background: #1341cb;
      text-shadow: 0 -1px #204ac8; }

.ibtn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  color: #d4d7df;
  font-size: 14px;
  line-height: 38px;
  text-align: center; }
  .ibtn span {
    display: none; }
  .ibtn:hover, .ibtn:active, .ibtn:visited, .ibtn:focus {
    background: transparent !important;
    color: #54607d; }

input {
  display: inline-block;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 32px;
  vertical-align: middle;
  border-radius: 3px;
  outline: none; }
  input[type=text], input[type=search] {
    text-indent: 8px;
    width: 100%;
    height: 32px;
    border: 1px solid transparent;
    background: #F0F2FA;
    color: #5E6C8C; }
    input[type=text]:hover, input[type=text]:focus, input[type=search]:hover, input[type=search]:focus {
      border-color: #dde1f4; }
    input[type=text]:focus, input[type=search]:focus {
      border-top-color: #cad1ed;
      color: #2b3140;
      box-shadow: inset 0 1px 3px #dde1f4; }
  input[type=search] {
    text-indent: 36px;
    background: #F0F2FA url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg"><g stroke="#A6AFC3" stroke-width="2" fill="none"><circle cx="14.5" cy="14.5" r="4.5"></circle><path d="M17.965279,17.965279 L21.5827625,21.5827625"></path></g></svg>') center left no-repeat; }

::-webkit-input-placeholder {
  color: rgba(94, 108, 140, 0.4); }

:-moz-placeholder {
  color: rgba(94, 108, 140, 0.4); }

::-moz-placeholder {
  color: rgba(94, 108, 140, 0.4); }

:-ms-input-placeholder {
  color: rgba(94, 108, 140, 0.4); }

/*# sourceMappingURL=apiway.css.map */
